<tbody>
<% @developer.person_has_projects.each do |project|%>

    			<tr id="project_show<%=project.id%>">
    				<td class="col-xs-2"><%=project.project.name%></td>
    				<td><%=project.start_date.strftime("%b %d, %Y")%></td>
    				<td><%= project.finish_date.strftime("%b %d, %Y")%></td>
    				<td><%=link_to image_tag("/assets/images/edit_16.png", :class => 'developer_icon', :alt => '', :title => ''),
                     'javascript:',:class => 'project_edit',:id => "#{project.id}" %>
                     <%= link_to image_tag("/assets/images/delete_16.png", :class => 'developer_icon', :alt => '', :title => ''),
                     'javascript:',:class => 'delete-developer-project',:id => "#{project.id}"%></td>
    			</tr>
    			<tr id="project_edit<%=project.id%>" class="hide">
    				<td class="col-xs-2"><%=project.project.name%></td>
    				<td class="col-xs-2"><%=date_field("project_has_skill#{project.id}", "start_date",{value: project.start_date, class: "form-control"} )%></td>
    				<td class="col-xs-2"><%=date_field("project_has_skill#{project.id}", "finish_date",{value: project.finish_date, class: "form-control"} )%></td>
    				<td>
    					<%= link_to("update", "javascript:",{class: " update-developer-project btn btn-primary btn-xs", data: { id:"#{project.id}"}})%>
                            <button data-id="<%=project.id%>" type="button" class="btn btn-danger btn-xs btn-project-cancel">cancel</button>
    				</td>
    			</tr>	
<% end%>
</tbody>