<tr id="show_<%=@developer_skill.skill_id%>" data-rating="<%=@developer_skill.rating %>">
  <td><%=@skill.name%></td> <td><%= skill_badge(@developer_skill.rating) %></td>
  <td><%=link_to image_tag("/assets/images/edit_16.png", :class => 'developer_icon', :alt => '', :title => ''),'javascript:',:class => 'developer_edit',:id => "#{@developer_skill.skill_id}" %>
<%= link_to image_tag("/assets/images/delete_16.png", :class => 'developer_icon', :alt => '', :title => ''),
                     'javascript:',:class => 'delete-developer-skill',:id => "#{@developer_skill.id}",data: { id:"#{@developer_skill.skill_id}"}%>
  </td>
</tr>
<tr class="hide" id="edit_<%=@developer_skill.skill_id%>" data-rating="<%=@developer_skill.rating %>">
   <td>
    <%= select_tag "skill_id", options_from_collection_for_select(@skill_language, "id", "name",@developer_skill.skill_id),{id:"skill_id#{@developer_skill.skill_id}"}%>
    </td>
    <td><%= select_tag("rating", options_for_select(PersonHasSkill.skill_ratings.map {|key, id| [id, id] },@developer_skill.rating),{id: "rating#{@developer_skill.skill_id}" })%>
   
    <%= hidden_field_tag 'person_has_skill_id', @developer_skill.id, {id: "person_has_skill_id#{@developer_skill.skill_id}"} %>
     </td>
    <td>
    <%= link_to("update", "javascript:",{class: " update-developer-skill btn btn-primary btn-xs", id: "update_#{@developer_skill.skill_id}",data: { id:"#{@developer_skill.skill_id}"}})%>
    <button data-id="<%=@developer_skill.skill_id%>" type="button" class="btn btn-danger btn-xs btn-cancel">cancel</button>    
    </td>                  
</tr>