<div class="container">
	<div class="row">
		<%= hidden_field_tag 'developer_id', @developer.id, {id: "developer_id"} %>
		<table>
			<tr>
				<td>
					<%= get_developer_image(@developer.image_file_name,@developer.id)%>
				</td>
				<td> <table>	
					 <tr>
						 <td>	
					      <h3><span id="edit_name"><%= @developer.full_name%></span>
					      	<%=link_to image_tag("/assets/images/edit_16.png", :class => 'developer_icon', :id => 'change_edit', :title => ''),
                     'javascript:',:class => 'edit-developer',:id => "#{@developer.id}" %>
					      </h3>
					     </td>
				     </tr> 
				     <tr><td><img class = "developer_icon" src="/assets/images/mail_16.png" />
				     	<span id="edit_email"><%= @developer.email%></span></td></tr>
				     <tr><td><img class = "developer_icon" src="/assets/images/skype_16.png" />
				     	<span id="edit_skype">dev.contact</span>
				     </td></tr>
				     <tr><td><img class = "developer_icon" src="/assets/images/old20.png" />
				     	<span id="edit_home_number"><%= @developer.home_number%><span></td></tr>
				 </table>
				</td>
			</tr>
		</table>

		<div class="container">

			<%= render 'developer_skill' %>	
			<%= render 'developer_project' %>	
		</div>

	</div>
	<div id="show-new-developer-skill"></div>
	<div id="show-new-developer-project"></div>
	<div id="no-add" class="modal fade" aria-hidden="true" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Messages</h4>
      </div>
      <div class="modal-body">
        <p id="developer-message"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>
