<div class="search-developer-skills">	
<% @person_skill.each_with_index do |developer,index| %>
<div class="developer-container">
  <h3><%=  "#{index + 1}. #{developer.first.name}  #{developer.first.last_name}"%></h3>
  <div class="skills-container">
   <% if developer.first.person_has_projects.blank?  %>
   <%=  has_project(false) %>
   <%  else %>
     <% developer.first.person_has_projects.each do |projects| %>
     <%=  has_project(projects.project.current_project) %>
     <% end %>
   <%  end %>
    <ul>
      <% developer.second.each do |skills| %>
        <li>
          <%= skill_color("#{skills.rating}") %>
          <div class="to_left"><%= "#{skills.skill.name} "  %><span class="badge"><%= "#{skills.rating}"%></span></div>
        </li>
      <% end%>
    </ul>
  </div>
</div>
<% end%>
</div>