<div class="search-developer-skills">	
<% @person_skill.each_with_index do |developer,index| %>
<div class="developer-container">
  <h3><%=  "#{index + 1}. #{developer.person.name}  #{developer.person.last_name}"%></h3>
  <div class="skills-container">
  <% if developer.person.person_has_projects.blank?  %>
   <%=  has_project(false) %>
   <%  else %>
     <%=  has_project(developer.person.person_has_projects.map(&:current_project).include?(true)) %>
   <%  end %>
   <ul>
      <% developer.person.person_skills(params[:id]).each do |skills| %>
        <li>
          <%=skill_color("#{skills.rating}") %>
          <div class="to_left"><%= "#{skills.name} "%> <span class="badge"><%= "#{skills.rating}"%></span></div>
        </li>
      <% end%>
    </ul>
  </div>
</div>
<% end%>
</div>