<h2>Projects Information</h2>
<table class="table table-bordered">
<thead>
<th>Team Member</th>	
	<% @month_range.each do | month|%>
<th><%= month%></th>
	<%end%>
</thead>	
<tbody>	
<tr>
<td>Total Billable</td>

<%@total_billables.each do |total|%>
	<td><%=total.second%></td>
<%end%>
</tr>
<tr>
<td>Total Project (include yellow)</td>
<%@total_projects.each do |total|%>
	<td><%=total.second%></td>
<%end%>
</tr>
<tr>
<td>Bench</td>	
<%@total_bench.each do |total|%>
	<td><%=total.second%></td>
<%end%>
</tr>	
<tr>
<td colspan="13">&nbsp;</td>	
</tr>
	<%@developers.each do |person| %>
      <tr><td><%= link_to person.full_name, developer_path(person) %></td>
	    <% person.developer_in_project.each do |a|%>
			<td class ="<%= fill_background(a[1].blank? ? a[1] : a[1].first[:developer_condition])%>">
			<%=a[1].blank? ? "" : link_to(a[1].first.project.name,"javascript:",{data:{ toggle: "tooltip", placement: "top", 'original-title'=> a[1].first.developer_condition.titleize}})%></td>
	    <%end%>	
	  </tr>  	
   <%end%>

</tbody>
</table>	