<div class="container">
  <div class="row">
    <h3>Projects</h3>
     <div class="row text-right"><%= link_to(" + Create New Project", new_project_path, :method => :get, :class => 'button-xs') %></div>
     <div class="row table-responsive">
      <table class="table table-striped">
        <tr>
          <th>#</th>
          <th>Project</th>
          <th>Actions</th>
        </tr>
        <tbody>
          <% @projects.each_with_index do |project, i| %>
            <tr>
               <th scope="row"><%= i + 1 %></th>
              <td>
      					<%= project.name %> <span class="label label-primary label-project">Developers <span class="badge"><%= project.person_has_projects.current_projects.count%></span></span>
    				</td>
    				<td>
              <%= link_to("Manage Skills", project_project_has_skills_path(project), :class => 'button-xs btn-success') %>
    				  <%= link_to("Edit", edit_project_path(project), :method => :get, :class => 'button-xs') %>
    				  <%= link_to("Delete", project_path(project), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button-xs btn-danger') %>
    				</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

