<div class="container">
  <div class="row">
    <h3><%=  @developer.name.to_s + ' ' + @developer.last_name.to_s %> Projects</h3>
     <% if @current_projects.length < 3  %>
         <h6><%= link_to(" + Associate New Project ", new_developer_developer_has_project_path, :method => :get, :class => 'button-xs') %></h6>
         <% if @current_projects.length > 0 %>
         <h6><%=  @developer.name.to_s + ' ' + @developer.last_name.to_s %> is already assigned to  (<%= @current_projects.length.to_s %>) project that is currently under his domain  </h6>
         <% end %>
     <% else %>
        <h6><%=  @developer.name.to_s + ' ' + @developer.last_name.to_s %> is already assigned to  (<%= @current_projects.length.to_s %>) project that is currently under his domain, is not possible to add new projects without finish some other first. </h6>
     <%end%>
    <div class="column">
      <table class="table">
        <tbody>
          <% @developer_projects.each do |developer_project| %>
            <tr>
                <td>
    				    <%= developer_project.project.name.to_s %> 
                <% if developer_project.current_project %>
                <span class="label label-default">Current Project</span>
                <% end %>
  			       </td>
  				  <td>
				  <%= link_to("Edit", edit_developer_developer_has_project_path(developer_project.person_id,developer_project ), :method => :get, :class => 'button-xs') %>
				  <%= link_to("Delete", developer_developer_has_project_path(developer_project.person_id,developer_project), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button-xs') %>
				    </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

