<div class="container">
  <div class="row">
    <h3><%=  @developer.name.to_s + ' ' + @developer.last_name.to_s %> Skills</h3>
     <% unless @developer_skills.total_skill == @developer_skills.count  %>
         <div class="row text-right"><%= link_to(" + Associate New Skill ", new_developer_developer_has_skill_path, :method => :get, :class => 'button-xs') %></div>
     <% else %>
        <h6>You already assigned all the available skills to <%=  @developer.name.to_s + ' ' + @developer.last_name.to_s %> </h6>
     <%end%>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
          <th>#</th>
          <th>Skill</th>
          <th>Score</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
          <% @developer_skills.each_with_index do |developer_skill, i| %>
            <tr>
              <th scope="row"><%= i + 1 %></th>
              <td>
  					   <%= developer_skill.skill.name %> 
    				  </td>
              <td>
                  <%= developer_skill.rating %>
              </td>  
      				<td>
      				  <%= link_to("Edit", edit_developer_developer_has_skill_path(developer_skill.person_id,developer_skill ), :method => :get, :class => 'button-xs') %>
      				  <%= link_to("Delete", developer_developer_has_skill_path(developer_skill.person_id,developer_skill), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button-xs btn-danger') %>
      				</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

