<div class="container">
  <div class="row">
    <h3><%=  @developer.name.to_s + ' ' + @developer.last_name.to_s %> Skills</h3>
     <% unless@developer_available_skills.first.blank?  %>
         <h6><%= link_to(" + Associate New Skill ", new_developer_developer_has_skill_path, :method => :get, :class => 'button-xs') %></h6>
     <% else %>
        <h6>You already assigned all the available skills to <%=  @developer.name.to_s + ' ' + @developer.last_name.to_s %> </h6>
     <%end%>
    <div class="column">
      <table class="table">
        <tbody>
          <% @developer_skills.each do |developer_skill| %>
            <tr>
              <td>
  					<%= developer_skill.skill.name.to_s + ' --- Level ---> ' + developer_skill.rating.to_s %> 
    				  </td>
      				<td>
      				  <%= link_to("Edit", edit_developer_developer_has_skill_path(developer_skill.person_id,developer_skill ), :method => :get, :class => 'button-xs') %>
      				  <%= link_to("Delete", developer_developer_has_skill_path(developer_skill.person_id,developer_skill), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button-xs') %>
      				</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

